<!DOCTYPE html>
<html>
<head>
    <title>Nkambenhle Virtual CV</title>
</head>
<body>
    <h1>Nkambenhle Zungu</h1>
    <div>
        <img src="images/me.jpg" alt="Zungu" style="width:100%;max-width:200px;">
    </div>
    <!-- This Introduction about my self.-->
    <p>
        I am a 21-year-old university student
        studying BSc IT. I have had an
        opportunity to work on various projects
        while at school. I’m known for my
        problem-solving skills and ability to
        collaborate with cross-functional teams.
        Outside of school, I’m passionate about
        health issues.
    </p>

    <!--Education that I have-->
    <h3>Education</h3>
    <p>
        <h4>
            Eshowe High School<br />
        2017-2021<br />
        </h4>
        • Half colours in academics<br />
        • Award for CAT (Computer Application technology).<br />
        <br />
        <br />
        <h4>
            North West University<br />
            2022-present<br />
        </h4>
        • NWU Debate Society 2022-2023<br />
        • NWU SALT 2023-2024<br />
        • Executive committee of the Student Forum in NWU 2023-2024<br />



        <br />
    </p>


    <!--Reference-->
    <!--Links to my social media platforms-->
    <div class="social-media-links">
        <h3>Social media platforms</h3>
        <a href="https://www.linkedin.com/in/nkambenhle-zungu-8301851a3/" target="_blank">
            <img src="images/l.jpeg" alt="Linkedin" style="width:50px;">
        </a>
        <a href="https://x.com/Nkambenhle17" target="_blank">
            <img src="images/x.jpeg" alt="X" style="width:50px;">
        </a>
        <a href="https://www.instagram.com/nkambenhlez/" target="_blank">
            <img src="images/In.jpeg" alt="Instagram" style="width:50px;">
        </a>
        <a href="https://www.facebook.com/nkambenhle.nkambenhle/" target="_blank">
            <img src="images/f.jpeg" alt="Facebook" style="width:50px;"><br />
        </a>
    </div>
</body>
</html>
