<!DOCTYPE html>
<html>
<head>
    <title>Nkambenhle Virtual CV</title>
</head>
<body>
    <h1>Nkambenhle Virtual CV</h1>
    <div>
        <img src="C:\Users\nkamb\OneDrive\Pictures\WhatsApp Image 2024-07-11 at 11.32.45_c76507c6 - Copy.jpg" alt="Zungu" style="width:100%;max-width:600px;">
    </div>
    <p>
        I am a 21-year-old university student
        studying BSc IT. I have had an
        opportunity to work on various projects
        while at school. I’m known for my
        problem-solving skills and ability to
        collaborate with cross-functional teams.
        Outside of school, I’m passionate about
        health issues.
    </p>

    <div class="social-media-links">
        <a href="https://www.linkedin.com/in/nkambenhle-zungu-8301851a3/" target="_blank">
            <img src="~/images/linkedin-icon.png" alt="Linkedin" style="width:50px;">
        </a>
        <a href="https://x.com/Nkambenhle17" target="_blank">
            <img src="~/images/twitter-icon.png" alt="X" style="width:50px;">
        </a>
        <a href="https://www.instagram.com/nkambenhlez/" target="_blank">
            <img src="~/images/instagram-icon.png" alt="Instagram" style="width:50px;">
        </a>
    </div>
</body>
</html>


</body>
</html>
